<div class="header">
  <a href="#!main" class="logo"><img src="images/cognizant-logo.png"/>
  </a>
<div align="center">
</div>  
<br/>
  <div class="header-right">
    <a class="active" href="#!main">Main</a>&nbsp;
<!--  	<a class="active" href="">&nbsp;&nbsp;</a>&nbsp;&nbsp;     -->
	<a class="active" href="#!assignments">Assignments</a>&nbsp;
<!--  	<a class="active" href="">&nbsp;&nbsp;</a>&nbsp;&nbsp;     -->
	<a class="active" href="#!assignments-fe">Assignments-FE</a>&nbsp;&nbsp;&nbsp;
	<a class="active" href="#!login">Logout</a>&nbsp;
  </div>
<div >
<br/><br/><br/>
  <span class="text-white">Hello {{userName}}!</span>&nbsp;&nbsp;
</div>
</div>

